/*MenuStyle.css 07/09/2023*/
* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100%;
}
header .header__wrap {
  width: 100%;
}
header .header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  width: 100%;
  background-color: white;
  height: 63px;
}
header .header__logo i {
  position: absolute;
  left: 30px;
  font-size: 20px;
}
header .header__logo img {
  width: 160px;
}
header .header__logo a {
  text-decoration: none;
  color: black;
}
header .header__logo a:visited {
  color: inherit;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*      IMAGE RESTAURANT      */
.background {
  overflow: hidden;
  width: 100%;
}
.background img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 375px;
  min-height: 275px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1080px;
  position: relative;
  margin-bottom: -40px;
  padding: 32px 15px;
  box-sizing: border-box;
  top: -40px;
  width: 100%;
  border-radius: 45px 45px 0 0;
  background-color: #f6f6f6;
}
.restaurant_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}
.restaurant_name {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  text-align: left;
}
.restaurant_like {
  font-size: 22px;
}
.restaurant .like:hover {
  font-weight: 900;
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
  animation-name: like_animation;
  animation-duration: 1s;
}
@keyframes like_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*         SECTION ENTREES PLAT DESSERT       */
.entry,
.plat,
.dessert {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 640px;
  width: 100%;
  animation-name: fade-in;
}
.entry .title,
.plat .title,
.dessert .title {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 8px;
}
.entry .title::after,
.plat .title::after,
.dessert .title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #99e2d0;
  position: absolute;
  bottom: -8px;
}
.entry_cards,
.plat_cards,
.dessert_cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.entry .card,
.plat .card,
.dessert .card {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1176470588);
  height: 70px;
}
.entry .card_wrap,
.plat .card_wrap,
.dessert .card_wrap {
  display: flex;
  gap: 5px;
}
.entry .card .information,
.plat .card .information,
.dessert .card .information {
  padding: 13px 15px;
  width: 100%;
  min-width: 0;
}
.entry .card .information h2,
.plat .card .information h2,
.dessert .card .information h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}
.entry .card .information p,
.plat .card .information p,
.dessert .card .information p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 300;
}
.entry .card .price,
.plat .card .price,
.dessert .card .price {
  display: flex;
  flex-direction: column-reverse;
  padding: 15px 15px 15px 0;
}
.entry .card .price p,
.plat .card .price p,
.dessert .card .price p {
  font-weight: 700;
}
.entry .card .checked,
.plat .card .checked,
.dessert .card .checked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -60px;
  margin-left: -60px;
  max-width: 60px;
  width: 100%;
  background-color: #99e2d0;
  transition: 0.3s;
}
.entry .card .checked i,
.plat .card .checked i,
.dessert .card .checked i {
  font-size: 22px;
  color: white;
}
.entry .card:hover .checked,
.plat .card:hover .checked,
.dessert .card:hover .checked {
  right: 0px;
  margin-left: 0px;
}

.animation-entry {
  animation-name: entry-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 0.25s;
}
@keyframes entry-animation {
  to {
    opacity: 1;
  }
}
.animation-plat {
  opacity: 0;
  animation-name: plat-animation;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes plat-animation {
  to {
    opacity: 1;
  }
}
.animation-dessert {
  opacity: 0;
  animation-name: dessert-animation;
  animation-duration: 1s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
}
@keyframes dessert-animation {
  to {
    opacity: 1;
  }
}

/*    BOUTTON COMANDER   */
.btn_commander {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 220px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(#ff79da, #9356dc);
  transition: 0.5s;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25), inset 0 0 0px rgba(255, 255, 255, 0);
}
.btn_commander:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25), inset 0 0 0px 100px rgba(255, 255, 255, 0.2);
}

/*          FOOTER          */
.footer {
  box-sizing: border-box;
  color: white;
  background-color: #353535;
  padding: 25px;
  width: 100%;
}
.footer__wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
}
.footer__logo {
  height: 20px;
}
.footer__logo img {
  filter: invert(100%);
  height: 100%;
  overflow: hidden;
}
.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.footer .text__group {
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.footer .text__group a {
  text-decoration: none;
  color: white;
}
.footer .text__group a:visited {
  color: inherit;
}
.footer .text__flex {
  display: flex;
  align-items: center;
}
.footer .text__flex a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.footer .text__flex a:visited {
  color: inherit;
}
.footer .text__flex i {
  font-size: 13px;
}

@media (min-width: 1024px) {
  .footer {
    height: 114px;
  }
  .footer__wrap {
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 100%;
    padding-right: 30px;
  }
  .footer__text {
    flex-direction: row;
    gap: 35px;
    padding-right: 60px;
  }
  .footer .text__flex {
    align-items: center;
    gap: 8px;
  }
  .footer .text__group {
    gap: 8px;
    flex-direction: row;
  }
}/*# sourceMappingURL=MenuStyle.css.map */