/*MenuStyle.css 07/09/2023*/
@mixin flex-centered-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

header {
  @include flex-centered-column;
  height: 63px;
  width: 100%;

  .header__wrap {
    width: 100%;
  }
  .header__logo {
    @include flex-centered-column;
    position: relative;
    box-shadow: 0px 2px 4px 0px #00000026;
    width: 100%;
    background-color: white;
    height: 63px;

    i {
      position: absolute;
      left: 30px;
      font-size: 20px;
    }

    img {
      width: 160px;
    }

    a {
      text-decoration: none;
      color: black;
    }

    a:visited {
      color: inherit;
    }
  }
}

.main_container {
  @include flex-centered-column;
}
/*      IMAGE RESTAURANT      */
.background {
  overflow: hidden;
  max-height: 275px;
  img {
    width: 100%;
  }
}

.restaurant {
  @include flex-centered-column;
  gap: 40px;
  max-width: 1080px;
  position: relative;
  margin-bottom: -40px;
  padding: 32px 15px;
  box-sizing: border-box;
  top: -40px;
  width: 100%;
  border-radius: 45px 45px 0 0;
  background-color: #f6f6f6;

  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
  }
  &_name {
    font-family: "Shrikhand";
    font-size: 28px;
    font-weight: 400;
    text-align: left;
  }

  &_like {
    font-size: 22px;
  }

  .like:hover {
    font-weight: 900;
    color: transparent;
    background-image: linear-gradient(#ff79da, #9356dc);
    background-clip: text;
    animation-name: like_animation;
    animation-duration: 1s;
  }
  @keyframes like_animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

/*         SECTION ENTREES PLAT DESSERT       */
.entry,
.plat,
.dessert {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 640px;
  width: 100%;
  animation-name: fade-in;

  .title {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 8px;
    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 3px;
      background: #99e2d0;
      position: absolute;
      bottom: -8px;
    }
  }

  &_cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  & .card {
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 15px 0px #0000001e;
    height: 70px;

    &_wrap {
      display: flex;
      gap: 5px;
    }

    .information {
      padding: 13px 15px;
      width: 100%;
      min-width: 0;

      h2 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 5px;
      }

      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 300;
      }
    }

    .price {
      display: flex;
      flex-direction: column-reverse;
      padding: 15px 15px 15px 0;
      p {
        font-weight: 700;
      }
    }

    .checked {
      @include flex-centered-column();
      position: relative;
      right: -60px;
      margin-left: -60px;
      max-width: 60px;
      width: 100%;
      background-color: #99e2d0;
      transition: 0.3s;

      i {
        font-size: 22px;
        color: white;
      }
    }

    &:hover .checked {
      right: 0px;
      margin-left: 0px;
    }
  }
}

.animation {
  &-entry {
    animation-name: entry-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0.25s;
  }
  @keyframes entry-animation {
    to {
      opacity: 1;
    }
  }

  &-plat {
    opacity: 0;
    animation-name: plat-animation;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes plat-animation {
    to {
      opacity: 1;
    }
  }

  &-dessert {
    opacity: 0;
    animation-name: dessert-animation;
    animation-duration: 1s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
  }
  @keyframes dessert-animation {
    to {
      opacity: 1;
    }
  }
}

/*    BOUTTON COMANDER   */
.btn_commander {
  @include flex-centered-column();
  text-decoration: none;
  max-width: 220px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(#ff79da, #9356dc);
  transition: 0.5s;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25),
    inset 0 0 0px rgba(255, 255, 255, 0);

  &:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25),
      inset 0 0 0px 100px rgb(255, 255, 255, 0.2);
  }
}

/*          FOOTER          */
.footer {
  box-sizing: border-box;
  color: white;
  background-color: #353535;
  padding: 25px;
  width: 100%;

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
  }

  &__logo {
    height: 20px;

    img {
      filter: invert(100%);
      height: 100%;
      overflow: hidden;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  .text__group {
    gap: 8px;
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: white;
      &:visited {
        color: inherit;
      }
    }
  }

  .text__flex {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: white;
      font-weight: 500;

      &:visited {
        color: inherit;
      }
    }

    i {
      font-size: 13px;
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    height: 114px;
    &__wrap {
      flex-direction: row-reverse;
      align-items: flex-end;
      height: 100%;
      padding-right: 30px;
    }
    &__text {
      flex-direction: row;
      gap: 35px;
      padding-right: 60px;
    }

    .text__flex {
      align-items: center;
      gap: 8px;
    }

    .text__group {
      gap: 8px;
      flex-direction: row;
    }
  }
}
