@mixin flex-centered-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-centered-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  @include flex-centered-column;
}

/**         HEADER         **/
header {
  @include flex-centered-column;
  height: 113px;
  width: 100%;

  .header__wrap {
    width: 100%;
  }
  .header__logo {
    @include flex-centered-column;
    position: relative;
    box-shadow: 0px 2px 4px 0px #00000026;
    width: 100%;
    background-color: white;
    height: 63px;

    i {
      display: none;
      position: absolute;
      left: 30px;
    }

    img {
      width: 160px;
    }
  }
  .header__area {
    @include flex-centered-row;
    gap: 1rem;
    background-color: #eaeaea;
    width: 100%;
    height: 50px;
  }
}

.loading {
  backdrop-filter: blur(5px);
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  animation-name: loading_screen;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-duration: 1s;

  &_content {
    height: 100%;
    @include flex-centered-column;

    h2 {
      animation-name: loading_screen;
      animation-delay: 2s;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      color: white;
      font-family: Shrikhand;
      font-size: 2rem;
      font-weight: 100;
    }

    p {
      animation-name: loading_screen;
      animation-delay: 2s;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      font-size: 1rem;
      color: white;
    }
  }
  @keyframes loading_screen {
    to {
      color: rgba(0, 0, 0, 0);
      backdrop-filter: none;
      background: rgba(0, 0, 0, 0);
      display: none;
    }
  }
}

/**         MAINWRAP         **/
main {
  width: 100%;
}
/**         DECOUVERTE         **/
.decouverte {
  @include flex-centered-column;
  text-align: center;
  background-color: #f3f3f3;
  gap: 30px;

  &__title {
    padding-top: 30px;
    font-weight: 700;
  }

  &__paragraphe {
    padding: 0 30px;
    font-size: 18px;
    font-weight: 300;
  }

  &__button {
    @include flex-centered-column;
    text-decoration: none;
    margin-bottom: 60px;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    color: white;
    background-image: linear-gradient(#ff79da, #9356dc);
    transition: box-shadow, 0.5s;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25),
      inset 0 0 0px rgba(255, 255, 255, 0);

    &:hover {
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25),
        inset 0 0 0px 100px rgb(255, 255, 255, 0.2);
    }
  }
}
/**         FONCTIONNEMENT         **/
.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 50px 32px;

  &__wrap {
    @include flex-centered-column;
    box-sizing: border-box;
    gap: 25px;
    max-width: 335px;
    width: 100%;
  }

  &__title {
    align-self: flex-start;
  }
  .fonctionnement__main {
    @include flex-centered-column;
    width: 100%;
    gap: 25px;
  }

  .fonctionnement__card {
    display: flex;
    align-items: center;
    height: 73px;
    width: 100%;
    border-radius: 20px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px 0px #00000026;
    color: #7e7e7e;
    transition: 0.2s;
    &:hover {
      color: #9356dc;
    }

    &__content {
      display: flex;
      position: relative;
      left: -12px;
      flex-direction: row;
      align-items: center;
      width: 100%;
      gap: 22px;

      .nbrlogo {
        @include flex-centered-column;
        height: 24px;
        width: 24px;
        border-radius: 45px;
        font-weight: 400;
        font-size: 14px;
        color: white;
        background-color: #9356dc;
      }
    }

    p {
      font-weight: 500;
    }
  }
}
/**         RESTAURANTS         **/
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;

  &__wrap {
    @include flex-centered-column;
    padding: 35px 20px;
    box-sizing: border-box;
    gap: 35px;
  }

  &__title {
    align-self: flex-start;
  }

  .restaurants__main {
    @include flex-centered-column;
    gap: 20px;
    a {
      color: black;
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
      color: inherit;
    }

    .row {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .restaurants__card {
      max-width: 440px;
      display: flex;
      flex-direction: column;
      height: 240px;

      &__image {
        overflow: hidden;
        position: relative;

        .new {
          @include flex-centered-column;
          border-radius: 2px;
          width: 80px;
          height: 30px;
          background-color: #99e2d0;
          position: absolute;
          right: 1em;
          top: 20px;
          box-shadow: 0px 2px 4px 0px #00000026;
          color: #008766;
          font-size: 14px;
          font-weight: 500;
        }
        img {
          border-radius: 15px 15px 0 0;
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
        i {
          font-weight: 900;
          color: red;
        }
      }

      .card__content {
        display: flex;
        justify-content: space-between;
        border-radius: 0 0 15px 15px;
        background-color: white;
        padding: 14px 10px;

        &__text {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
        &__logo {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          i {
            font-size: 22px;
          }
        }
      }
    }
  }

  .like:hover {
    font-weight: 900;
    color: transparent;
    background-image: linear-gradient(#ff79da, #9356dc);
    background-clip: text;
    animation-name: like_animation;
    animation-duration: 1s;
  }

  @keyframes like_animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
/**         FOOTER          **/
.footer {
  box-sizing: border-box;
  color: white;
  background-color: #353535;
  padding: 25px;
  width: 100%;

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
  }

  &__logo {
    height: 20px;

    img {
      filter: invert(100%);
      height: 100%;
      overflow: hidden;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  .text__group {
    gap: 8px;
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: white;
      &:visited {
        color: inherit;
      }
    }
  }

  .text__flex {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: white;
      font-weight: 500;

      &:visited {
        color: inherit;
      }
    }

    i {
      font-size: 13px;
    }
  }
}

@media (min-width: 768px) {
  /**/
}
@media (min-width: 1024px) {
  .fonctionnement {
    &__wrap {
      box-sizing: border-box;
      align-items: normal;
      max-width: 1080px;
      width: 100%;
    }

    .fonctionnement__main {
      max-width: 1080px;
      flex-direction: row;
      gap: 35px;
    }

    &__card {
      max-width: 335px;
      width: 100%;
    }
  }

  .restaurants {
    padding-bottom: 15px;
    &__title {
      align-self: flex-start;
    }

    &__wrap {
      max-width: 1080px;
      width: 100%;
      gap: 3em;
      box-sizing: border-box;
    }

    .restaurants__main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px;
      justify-content: normal;

      .row {
        display: flex;
        flex-direction: row;
        gap: 50px 100px;
      }
      .restaurants__card {
        color: black;
        width: 100%;
        max-width: 490px;
        padding: 0px;

        &__image {
          overflow: hidden;
        }
      }
    }
  }

  .footer {
    height: 114px;
    &__wrap {
      flex-direction: row-reverse;
      align-items: flex-end;
      height: 100%;
      padding-right: 30px;
    }
    &__text {
      flex-direction: row;
      gap: 35px;
      padding-right: 60px;
    }

    .text__flex {
      align-items: center;
      gap: 8px;

      a {
        padding-left: 0px;
        font-weight: 500;
      }
    }

    .text__group {
      gap: 8px;
      flex-direction: row;
    }
  }
}
